.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
core/__pycache__
modules/__pycache__
__pycache__
.env1
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

core/db.sqlite3
sandbox.py