
<div class="row">
    
    <form method="POST" id="this_form" action="{{url_for('settings.change_password')}}">
        {{ form.csrf_token }}

        <div class="col-12 col-md-4 input-description">Aktualne hasło</div>
        <div class="col-12 col-md-4 ">
            {{ form.current_password(class="auth-input", id="current_password") }}
        </div>

        <div class="col-12 col-md-4 input-description">Nowe hasło</div>
        <div class="col-12 col-md-4 ">
            {{ form.password1(class="auth-input", id="password1") }}
        </div>

        <div class="col-12 col-md-4  input-description">Powtórz nowe hasło</div>
        <div class="col-12 col-md-4 ">
            {{ form.password2(class="auth-input", id="password2", oninput="samePasswordValidator(this)") }}
        </div>

        <div class="col-12 col-md-4 ">
            <button class="btn-custom-yellow-auth" id='btnSend' type="submit" formvalidate 
            
            >Zmień Hasło</button>
        </div>
    </form>

</div>



<script>
   // same password 
   function samePasswordValidator(input) {
    console.log('check!')

    if (input.value != document.getElementById('password1').value) {
        input.setCustomValidity("Hasła nie są takie same");
        return false;
    } else {
        // input is valid -- reset the error message
        input.setCustomValidity('');
        return true;
    }
}

    // send form ajax logic
    document.getElementById('btnSend').addEventListener("click", function(event){
        event.preventDefault()

        if (document.getElementById('this_form').checkValidity()) {
            
            // start bar
            document.getElementById('indicator').classList.add('htmx-request')
            // send form
            htmx.ajax('POST', '{{url_for("settings.change_password")}}', 
            {target:'#panel-content', swap:'innerHTML', source:document.getElementById('this_form'), indicator:"#indicator"}).then(() => {
            // stop bar
            document.getElementById('indicator').classList.remove('htmx-request')
            });
        }
        else {
            document.getElementById('this_form').reportValidity();
        }
    });
</script>
